

<form>
<input class="MyButton" type="button" value="Raw Aging" onclick="window.location.href='https://rehrigaging.herokuapp.com/rawaging'" />
</form>

<div id='HTMLtoPDF'>
<br><h2>Aging By Account</h2>
<br><h3> <span>NOTE: STATEMENT DOES NOT CONTAIN MANUAL INVOICES, CONTACT AR TO VERIFY </span></h3>
<table id="table">
    <tr>
        <td>Customer Number</td>
        <td>JDE Customer Number</td>        
        <td>Customer Name</td>
        <td>Amount Due</td>
        <td>Current</td>
        <td>Past Due 1-30</td>
        <td>Past Due 31-60</td>
        <td>Past Due 61-90</td>
        <td>Past Due Over 90</td>
        <td>Business Unit</td>
        <td>Rep</td>        
        <td>Net Days</td>
        <td>Customer Type</td>   
        <td>Customer Code</td>         
        
    </tr>
</table>
</div>
<a href="#" class="export">Export Table data into Excel</a>
